.error img {
    width: 100px;
    height: 100px;
  }

.github-stats {
  text-align: center;
}

.post-content-header {
  display: flex;
  align-items: center;
}

.post-content-header img {
  margin-right: 20px;
  max-width: 12%;
  height: auto;
}

.list-item {
  display: flex;
  align-items: center;
}

.list-item-content {
  flex-grow: 1;
}

.list-item-content .date {
  font-style: italic;
}

.list-item-image {
  margin-right: 50px;
  max-width: 15%;
  height: auto;
}

/* Images with a light and a dark variant, following the theme color scheme. */
.dark-only {
  display: none;
}

body.colorscheme-dark .light-only {
  display: none;
}

body.colorscheme-dark .dark-only {
  display: inline;
}

@media (prefers-color-scheme: dark) {
  body.colorscheme-auto .light-only {
    display: none;
  }

  body.colorscheme-auto .dark-only {
    display: inline;
  }
}
