.grid-container-frontpage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

.portfolio-container {
    aspect-ratio: 1 / 1; /* Setting aspect ratio to 1:1 for square cards */
}

.portfolio-details h2 {
  color: #F6EB0F; /* Change this to the desired color */
}

.portfolio-details p {
  color: #F6EB0F; /* Change this to the desired color */
}

.github-stats {
  text-align: center;
}
