.grid-container-frontpage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

.portfolio-container {
    aspect-ratio: 1 / 1; /* Setting aspect ratio to 1:1 for square cards */
}
