<section class="container list">
  <header>
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink | safeURL }}">{{ .Title }}</a>
    </h1>
  </header>
  {{ .Content }}
  {{ with .Sections }}
    {{ range . }}
    <section>
      <h2 class="title">{{ .Title }}</h2>
      {{ .Content }}
      {{ partial "inline/list-items.html" .Pages }}
    </section>
    {{ end }}
  {{ else }}
    {{ partial "inline/list-items.html" .Pages }}
  {{ end }}
</section>

{{ define "partials/inline/list-items.html" }}
<ul>
  {{ range $page := . }}
  <li class="list-item">
    <div class="list-item-content">
      <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2006" ) }}</span>
      <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
    </div>
    {{ with .Params.longImage }}
      <div class="list-item-image">
        <img src="{{ . | relURL }}" alt="{{ $page.Title }} logo"{{ if $page.Params.longImageDark }} class="light-only"{{ end }}/>
        {{ with $page.Params.longImageDark }}
        <img src="{{ . | relURL }}" alt="{{ $page.Title }} logo" class="dark-only"/>
        {{ end }}
      </div>
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}
