<section class="container page">
  <article>
    {{ with .Title }}
    <header>
      <div class="post-content-header">
        {{ with $.Resources.GetMatch "featured.*" }}
          {{ with .Process "webp" }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $.Title }} logo"/>
          {{ end }}
        {{ end }}
        <h1 class="title">
          <a class="title-link" href="{{ $.Permalink | safeURL }}">
            {{ . }}
          </a>
        </h1>
      </div>
    </header>
    {{ end }}

    {{ if .Params.avatar }}
      {{ partial "avatar.html" "page-avatar" }}
    {{ end }}
    {{ .Content }}

    <footer>
      {{ partial "posts/series.html" . }}
    </footer>
  </article>
</section>
